################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/opdrachten M2/Functions/Functions/Functions.vcxproj.user
